<div class="container">
    <div class="row d-flex justify-content-between mt-5">
        <%= render 'users/list', book: @book_new, user: @user %>
        <div class="col-7 float-right">
            <h2>Book detail</h2>
            <table class="table">
                
                <tr>
                    <td>
                        <% if @book.image.attached? %>
                            <%= link_to image_tag @book.image, user_path %><br>
                        <% else %>
                            <%= image_tag 'no_image' %>
                        <% end %>
                            <%= link_to current_user.name, user_path(current_user) %>
                    </td>
                    <td>
                        <%= link_to book_path(@book.id) do %>
                            <%= @book.title %>
                        <% end %>
                    </td>
                    <td><%= @book.body %></td>
                    <td class="btn btn-success btn-sm p-0 mt-2 mr-5" >
                        <%= link_to "Edit", edit_book_path, class: 'nav-link text-white' %>
                    </td>
                    <td class="btn btn-danger btn-sm p-0 mt-2 " >
                        <%= link_to "Destroy", books_path, class: 'nav-link text-white' %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>